@model _2010204834_ENT.Entities.Bus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroAsientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroAsientos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idBus }) |
    @Html.ActionLink("Back to List", "Index")
</p>
