@model IEnumerable<_2010204834_ENT.Entities.Venta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicio.NombreServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipocomprobante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipopago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servicio.NombreServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipocomprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipopago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idVenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVenta })
        </td>
    </tr>
}

</table>
